<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles1.css">
    <title>Neehaar Katyaal's Portfolio</title>
</head>
<body>
    <section id="header">
    <div class="header-container">
        <div class="name">
            <img src="/images/photo for portfolio web.jpeg" alt="neehaar-image">
            <a href="/home"><h2>NEEHAAR KATYAAL</h2></a>
        </div>

        <div class="menu">
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/projects">PROJECTS</a>
            <a href="#social" id="socials">SOCIALS</a>
        </div>
    </div>
    </section>

    <div class="hero">

        <div class="hero-left" style="text-align: left;">
            <p style="font-size: 1rem; font-weight: bold; margin-bottom: -40px;">Hi, I am Neehaar Katyaal and I like</p>
            <h1 style="font-size: 3.5rem; margin-bottom: -10px">building websites that<br> look good and work<br> even better.</h1>
            <p style="font-size: 1rem;">I am an aspiring Full Stack Web Developer who loves reimagining<br> creative
            web designs inspired by fascinating existing websites.</p>
            <button><a href="/about"> Know me </a></button>

        </div>

        <div class="hero-right">
            <img src="/images/Loading-Screen-Effect.gif" alt="temp" id="loading-animation" height="325px" width="325px" style="padding-top: 50px">
            <p id="loading-text" style="font-size: 1.2rem; padding-left: 75px; margin-top: 0px;">Loading Chad Face</p>
            <img src="/images/photo for portfolio web.jpeg" alt="handsome-man" id="profile-photo">
        </div>

    </div>

    <div class="footer">
        <div class="footer-container-one">
            <div class="footer-one">
                <h3>NEEHAAR KATYAAL</h3>
                <p>Aspiring Full Stack Web Developer who creates unique website<br> designs inspired by existing ones.</p>
            </div>

            <div class="footer-two">
                <p style="font-size: 1rem;">Connect with me if you have any ideas 👇</p>
                <a href="mailto:neehaar@example.com?subject=Portfolio Inquiry&body=Hi Neehaar,">neehaar1234@gmail.com</a>
            </div>
        </div>
    <hr>
    <section id="social">
        <div class="footer-container-two">
            <div class="glow-effect">
            <a href="https://www.linkedin.com/in/neehaar-katyaal-35082928b/">
                <img src="./images/linkedin-square-white-icon-transparent-png-701751694974206tsxnbf2rft-removebg-preview.png" alt="linkedIn-logo">
            </a>
            <a href="https://www.linkedin.com/in/neehaar-katyaal-35082928b/">
                <img src="./images/hd-white-twitter-bird-logo-icon-png-701751694781835zcpqy8so3y-removebg-preview.png" alt="twitter-logo" style="height: 35px; padding: 3px;">
            </a>
            <a href="https://www.instagram.com/muscle._.baby_/">
                <img src="./images/hd-square-white-instagram-logo-icon-png-701751695118869dhkjddwaed-removebg-preview.png" alt="instagram-logo">
            </a>
            <a href="https://github.com/Neehaar-Katyaal">
                <img src="./images//images-removebg-preview.png" alt="github-logo">
            </a>
            </div>
        </div>
    </section>
        <p>© Copyright 2026. Made by Neehaar Katyaal</p>
    </div>
</body>
<script src="/home.js"></script>
</html>